EVOLUTION_PORT=4000
EVOLUTION_CLIENT_NAME=evolution
EVOLUTION_GLOBAL_API_KEY=change-me-to-a-secure-key

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_AUTH_DATABASE=evogo_auth

DATABASE_SAVE_MESSAGES=true
CONNECT_ON_STARTUP=false
WEBHOOK_FILES=true
EVENT_IGNORE_GROUP=false
EVENT_IGNORE_STATUS=true
